/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2024, 2:01:50 AM
    Author     : MANH VINH
*/
/* CSS for viewProduct.jsp */

/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #566787;
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}


.product-details {
    margin-top: 20px;
}

.detail {
    margin-bottom: 10px;
}

/* Styling for thumbnail image */
.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styling for specific details */
.detail p {
    font-size: 16px;
}

.detail label {
    font-weight: bold;
}
